.footer {
    background:  #0071BC;
    height: 7rem;
    color: white;
}
.footer-black {
    background:  #3C3C3C;;
    height: 2.4rem;
    color: white;
    p {
        font-size: 1rem;
    }
}
.btn {
    height: 3rem;
}
