.footer {
    background:  #0071BC;
    height: 7rem;
    color: white;
}
.footer-black {
    background:  #3C3C3C;;
    height: 2.4rem;
    color: white;
    p {
        font-size: 1rem;
    }
}
.btn {
    height: 3rem;
}
.big-margin {
    margin-top: 5rem;
}

.contact-form {
    max-width: 40%;
}

.shd-submit {
    padding: 0 3rem;
}

.contact-msg {
    max-width: 50%;
}
